.jobs-container{
width: 70%;
}

.jobTitle{
    height: 130px;
    width: 100%;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(14, 13, 13);
    background-color: rgb(205, 212, 205);
    /* background-color: aliceblue; */
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 3px;
    font-family: 'sans-serif';
    background-blend-mode: difference;


}

.body{
    background-color: antiquewhite;
}

.dropDown{
    padding-top: 0px;
    /* border-width: 40px; */
    border-color: rgb(15, 15, 15);
    /* margin: 10px; */
    width: 100%;
    height: 100%;
    /* border-radius: 30px; */
    background-color: rgb(184, 186, 180);
    height: 80px;
    color: rgb(65, 40, 11);
}

.tag{
    /* height: 40px; */
    /* width: 20%; */
    /* border-width: 2px; */
    border-radius: 15px;
    /* border-color: rgb(235, 140, 140); */
    /* background-color: rgb(87, 168, 127); */
    font-size: 20px;
    color: rgb(123, 118, 118);
    /* padding: 3px; */
    margin: 10px;

}
